
input, textarea, select, div>button
{
    background-color: rgb(73, 70, 70);
    color: white;
}

div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3%;

}

form > label
{
	display:flex;
	flex-direction:column;
	padding-right:1rem;
	padding-left:1rem;
}

#contact
{

    grid-column-start: 2;
    grid-column-end: 3;
}

#lien
{
    grid-column-start: 3;
    grid-column-end: 4;
}

cite
{
    color: rgb(14, 63, 170)
}

/* Partie Responsive */

@media (max-width: 701px)
{
    div
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        padding: 10%;
    }
    
    #formulaire
    {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #lien
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #contact
    {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    div > #contact >img 
    {
        width: 30%;
        height: auto;
    }

}